@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

button,
a {
  cursor: pointer;
}

#root {
  max-width: 1296px;
  padding: 24px 15px 0 15px;
  margin: 0 auto;
}
