.navbar {
  width: 40%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  p,
  a {
    transition: all ease-in-out 0.3s;
    &:hover {
      font-weight: 700;
      color: rgb(80, 80, 80);
    }
  }
}

.dropDown {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
